


/* ***********************LANDING PAGE****************************** */

.memes {
    font-size: 40px;
}


.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-hover {
    font-size: 35px;
}

.dog-hover:hover {
    color: orangered;
}

.cat-hover {
    font-size: 35px;
}

.cat-hover:hover {
    color:  orangered;
}

.animal-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.cat-button img {
    width: 200px;
    height: 100%;
}

.dog-button img {
    width: 225px;
    height: 100%;
}


/* ************************CHOOSE IMAGE PAGE************************** */
.random-cat-box,
.random-dog-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-image,
.dog-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-image img {
    width: 400px;
    height: 100%;
}

.dog-image img {
    width: 400px;
    height: 100%;
}

.custom-header {
    text-align: center;
}

.pic-select {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pic-select img {
    width: 400px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* ********************CUSTOM PAGE************************** */
.add-caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    position: absolute;
    top: 100px;
    background-color: white;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* *****filters*********CUSTOM PAGE************filters******* */

.border-buttons {
    display: flex;
    justify-content: center;
}

.filter-buttons {
    display: flex;
    justify-content: center;
}


.pink {
    border: 10px solid magenta;
}

.blue {
    border: 10px solid blue;
}

.green {
    border: 10px solid green;
}

.greyscale {
    filter: grayscale(100%);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.contrast {
    filter: contrast(30%)
}

.blur {
    filter: blur(3px);
}

.reset-button {
    display: flex;
    justify-content: center;
}

.reset {
    border: none;
    filter: none;
    
}

/* *********************FOOTER********************** */

.grass {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.grass img {
    margin: 20px;
}

.footer {
    background-color: black;
    height: 35px;
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
}