

/* ***********************LANDING PAGE****************************** */

.meme-ix {
    font-size: 40px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-hover {
    font-size: 35px;
}

.dog-hover:hover {
    color: orangered;
}

.cat-hover {
    font-size: 35px;
}

.cat-hover:hover {
    color:  orangered;
}

.animal-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 60px;
}

.cat-button img {
    width: 200px;
    height: 100%;
}

.dog-button img {
    width: 225px;
    height: 100%;
}


/* ************************CHOOSE IMAGE PAGE************************** */

.choose-a-dog img {
    width: 100px;
}

.choose-a-cat img {
    width: 95px;
}

.random-cat-box,
.random-dog-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-buttons{
    flex-direction: row;
}

.random-buttons button,
.make-meme-button button{
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
    background: black;
    color: white;
    font-family: 'Roboto';
    width: 150px;
    height: 40px;
}


.cat-image,
.dog-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-image img {
    width: 400px;
    height: 100%;
}

.dog-image img {
    width: 400px;
    height: 100%;
}

.custom-header {
    text-align: center;
}

.pic-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 0;
}

.pic-select img {
    width: 400px;
    height: 100%;
}

.dog-person-link p {
    text-decoration: none;
}

/* **************************MAKEMEME PAGE***************************** */


.add-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.caption {
    position: absolute;
    top: 100px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    text-align: center;
    width: 300px;
}

.add-caption input {
    height: 20px;
    width: 300px;
    font-style: italic;
    text-align: center;
}

.add-button {
    display: none;
}

/* **FILTERS*****MAKEMEME PAGE*****FILTERS*** */

.style-buttons {
    display: flex;
    justify-content: center;
}

.style-buttons button {
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
    background: black;
    color: white;
    font-family: 'Roboto';
    width: 100px;
    height: 40px;
}

.solid {
    border: 10px solid;
}

.dotted {
    border: 10px dotted;
}

.dashed {
    border: 10px dashed;
}

.double {
    border: 10px double;
}

.border-buttons {
    display: flex;
    justify-content: center;
}

.border-buttons button {
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
    background: black;
    color: white;
    font-family: 'Roboto';
    width: 100px;
    height: 40px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
}

.filter-buttons button {
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
    background: black;
    color: white;
    font-family: 'Roboto';
    width: 100px;
    height: 40px;
}

.orange {
    border-color: orangered;
}

.blue {
    border-color: blue;
}

.green {
    border-color: greenyellow;
}

.black {
    border-color: black;
}

.greyscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.blur {
    filter: blur(2px);
}

.invert {
    filter: invert(100%);
}

.reset-button {
    display: flex;
    justify-content: center;
}

.reset-button button {
    background-color: black;
    color: white;
    border-radius: 2px;
    width: 100px;
    height: 30px;
}


/* *********************FOOTER********************** */

.space-needed {
    height: 170px;
}

.grass {
    display: flex;
    position: fixed;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.grass img {
    width: 100%;
}

.footer {
    background-color: black;
    height: 20px;
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* *********************MEDIA QUERIES*************************** */

@media (min-width: 320px) and (max-width: 812px) {
    
    .meme-ix {
        margin-top: 40px;
    }

    .custom-header h2 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .are-you-a {
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .animal-flex {
        display: flex;
        margin-top: 100px;
    }
    
    .dog-button img {
        width: 120px;
        height: 100%;
    }

    .cat-button img {
        width: 110px;
        height: 100%;
    }

    .cat-image img,
    .dog-image img {
        width: 300px;
        height: 100%;
    }

    .pic-select {
        width: 300px;
    }

    .pic-select img {
        width: 300px;
        height: 100%;
    }

    .media {
        display: flex;
    }

    .add-caption {
        margin: 30px;
        display: flex;
    }

    .caption {
        top: 120px;
        font-size: 20px;
    }

    .add-caption input {
        width: 280px;
    }

    .add-button {
        display: flex;
        background-color: black;
        color: white;
    }

    .style-buttons button,
    .border-buttons button,
    .filter-buttons button {
        margin: 5px;
        border: 2px solid black;
        border-radius: 3px;
        background: black;
        color: white;
        font-family: 'Roboto';
        width: 65px;
        height: 30px;
    }

    .reset-button button {
        background-color: black;
        color: white;
        border-radius: 3px;
        width: 65px;
        height: 25px;
    }
   

    .space-needed {
        height: 75px;
    }
}